.slider {
  position: relative;
}

.rangeContainer {
  display: flex;
  align-items: center; 
  gap: 20px; 
  margin-bottom: 20px;
  flex-wrap: wrap; /* Allow the items to wrap to the next line for small screens */
}

.buttonToggle {
  margin-left: 10px;
}

/* For medium-sized screens */
@media (max-width: 768px) {
  .rangeContainer {
    gap: 15px;
    margin-bottom: 15px;
  }

  .buttonToggle {
    margin-left: 5px;
  }
}

/* For small screens */
@media (max-width: 480px) {
  .rangeContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .buttonToggle {
    margin-left: 0;
    margin-top: 10px;
  }
}
